Django==5.2.4
channels[daphne]==4.2.2

# nltk==3.8.1
# transformers==4.41.2
# torch==2.3.0

scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
shortuuid==1.0.1

psycopg2-binary==2.9.9 
whitenoise==6.6.0

python-dotenv
dj_database_url

psutil==5.9.8
