{% extends "alumni/layout.html" %}
{% load static %}

{% block extra_css %}
     <link href="{%  static 'alumni/css/profile.css'  %}" rel="stylesheet">
     <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <!-- <div class="container-fluid profile_wrapper"> -->

    <div class="container-fluid p-0 profile-img-container bg-maroon-light mb-5 text-center">
        <div style="position: relative; display: inline-block;">
        
            <button type="button" class = "profile_pic_button open_modal">
                <img src="{% if profile.profile_url %}{{ profile.profile_url }}{% else %}{% static 'alumni/images/profile_image.jpg' %}{% endif %}" 
                    alt="Profile Picture" 
                    class="img-fluid rounded-circle profilePic">
            </button>
            <h3 class="mt-3 text-maroon"><span id="profileName">
                {{ profile.name|default:"Need to enter Name"}}
                {% if profile.name is none or profile.name == "" %}
                        <button class="btn btn-link pencil open_modal" id="first_name" data-title="First Name" data-placeholder="Enter your first name">
                            <i class="bi bi-pencil"></i>
                        </button>
                {% endif %}
            </span></h3>
            <p class="lead text-dark"> 
                Class of <span id="profileGradYear">{{ profile.graduation_year|default:"Need to add graduation year" }}
                    {% if profile.graduation_year is none or profile.graduation_year == "" %}
                        <button class="btn btn-link pencil open_modal" id="graduation_year" data-title="Graduation Year" data-placeholder="Enter your graduation year">
                            <i class="bi bi-pencil"></i>
                        </button>
                    {% endif %}
                </span> <strong>•</strong> Student at <span id="profileUniversity">
                    {{ profile.university|default:"Need to enter University" }}
                    {% if profile.university is none or profile.university == "" %}
                        <button class="btn btn-link pencil open_modal" id="university" data-title="University" data-placeholder="Enter your university">
                            <i class="bi bi-pencil"></i>
                        </button>  
                    {% endif %}
                </span>
            </p>
        </div>
    </div>

    <div class="container-fluid my-4">
        <div class="row mb-5">
            <div class="col text-center">
                <h4 class="text-maroon mb-3">About Me</h4>
                <p class="px-4" id="aboutMe">
                    {{ profile.about|default:"Need to write about yourself" }}
                    {% if profile.about is none or profile.about == "" %}
                        <button class="btn btn-link pencil open_modal" id="about" data-title="About" data-placeholder="Write a bit about yourself">
                            <i class="bi bi-pencil"></i>
                        </button> 
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row text-center justify-content-center">
            <div class="col-md-5 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <h5 class="card-title text-maroon">Education</h5>
                        <p class="card-text" id="profileEducation">
                            {{ profile.career|default:"Need to enter Career " }}
                            {% if profile.career is none or profile.career == "" %}
                            <button class="btn btn-link pencil career open_modal" id="career" data-title="Career" data-placeholder="Enter your career">
                                <i class="bi bi-pencil"></i>
                            </button> 
                            {% endif %}
                            at {{ profile.university|default:" and need to add university" }}
                            {% if profile.university is none or profile.university == "" %}
                                <button class="btn btn-link pencil open_modal" id="university" data-title="University" data-placeholder="Enter your university">
                                    <i class="bi bi-pencil"></i>
                                </button> 
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <h5 class="card-title text-maroon">Location</h5>
                        <p class="card-text" id="profileLocation">
                            {{ profile.location|default:"Need to enter Current location" }}
                            {% if profile.location is none or profile.location == "" %}
                                <button class="btn btn-link pencil open_modal" id="location" data-title="location" data-placeholder="Enter your location">
                                    <i class="bi bi-pencil"></i>
                                </button> 
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<button type="button" class="edit_button"><a href="/edit_profile"><i class="bi bi-pencil"></i></a></button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Edit Profile</h2>















    <form enctype="multipart/form-data" action="/edit_pfp" method="post">

        <div id="input_content" style="display:none;">
            <label for="name" class="pop_up_label">Edit:</label>
            <input type="text" id="text" name="name" class="pop_up_input text_line" placeholder="Enter" data-field="None">
            <textarea id="textarea" name="name" class="pop_up_input textarea" placeholder="Enter" data-field="None"></textarea>
            <button type="submit" class="pop_up_button" id="submit_button">Save</button><br><br>
        </div>

        <div id="upload_content" style="display:none;">
            <input type="file" id="file" name="file">
            <button type="submit" class="pop_up_button" id="pop_up_file_button">Upload File</button>
        </div>

    </form>









    

  </div>
</div>

<!-- </div> -->


{% endblock %}

{% block javascript %}
     <script src="{% static 'alumni/javascript/profile.js' %}"></script>
{% endblock %}