{% extends "alumni/layout.html" %}
{% load static %}


{% block extra_css %}
    <link href="{% static 'alumni/css/sign_up.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}

    <div class="main-content">
    <div class="container container-form">
        <div id="logoContainer">
        <img src="{% static 'alumni/images/logo.jpg' %}" alt="Oryx Logo" id="logo">
        </div>
        <div class="elite-badge">- Oryx International School Alumni -</div>
        <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form id="authForm" method="post" action="/sign_up">
            {% csrf_token %}
            <div class="input-group">
            <div class="input-field">
                <input type="email" placeholder="Email" id="emailInput" required name="email"/>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" id="passwordInput" required name="password"/>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Confirm Password" id="confirmPassword" required name="confirmation"/>
            </div>
            <div class="btn-field">
                <button type="submit" id="submitBtn" class="form_button">Sign Up</button>
            </div>
            </div>
        </form>
        </div>
    </div>

    <!-- Move footer here -->
    <div class="footerContainer">
        <footer class="footer">
        © 2025 Oryx Alumni Network <br>
        Email us at <a class="oryxemail" href="mailto:oryxalumni@gmail.com" style="color: rgba(255, 255, 255, 0.6);">oryxalumni@gmail.com</a>
        </footer>
    </div>
    </div>


{% endblock %}