{% extends "alumni/layout.html" %}
{% load static %}

{% block extra_css %}
     <link href="{% static 'alumni/css/profile.css' %}" rel="stylesheet">
     <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="container-fluid p-0 profile-img-container bg-maroon-light mb-5 text-center">
        <div style="position: relative; display: inline-block;">

            
            <span class="back-button-container">
                <a href="javascript:history.back()" class="back-icon">
                    <i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i>
                </a>
            </span>
        
            <img src="{% if profile.profile_url %}{{ profile.profile_url }}{% else %}{% static 'alumni/images/profile_image.jpg' %}{% endif %}" 
                alt="Profile Picture" 
                class="img-fluid rounded-circle profilePic">
            <h3 class="mt-3 text-maroon">
                <span class="name_text">
                    {{ profile.name|default:"Need to enter Name"}}
                </span>
            </h3>
            
            {% if only_view %}
            {% else %}
                {% if is_match %}
                    <p class="requested">Requested</p>
                {% else %}
                    <form action="{% url 'mentor_match' profile.user.id %}" method="post">
                        {% csrf_token %}
                        <button id="request_mentor" name="request_mentor" class="confirm_edit_button">Request Mentor</button>
                    </form>
                {% endif %}
            {% endif %}


            <p class="lead text-dark"> 
                Class of <span class="graduation_year_text">{{ profile.graduation_year|default:"Need to add graduation year" }}</span> 
                <strong>•</strong> Student at <span class="university_text">{{ profile.university|default:"Need to enter University" }}</span>
            </p>
        </div>
    </div>

    <div class="container-fluid my-4">
        <div class="row mb-5">
            <div class="col text-center">
                <h4 class="text-maroon mb-3">About Me</h4>
                <p class="px-4 about_me_text">
                    {{ profile.about_me|default:"Need to write about yourself" }}
                </p>
            </div>
        </div>

        <div class="row text-center justify-content-center">
            <div class="col-md-5 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <h5 class="card-title text-maroon">Education</h5>
                        <p class="card-text">
                            <span class="career_text">{{ profile.career|default:"Need to enter Career" }}</span> at 
                            <span class="university_text">{{ profile.university|default:"Need to add university" }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <h5 class="card-title text-maroon">Location</h5>
                        <p class="card-text location_text">
                            {{ profile.location|default:"Need to enter Current location" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

