{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'directory/css/mentor_directory.css' %}" rel="stylesheet">
    <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}


{% block title %}
    Directory
{% endblock %}

{% block main %}





<div class="mentors"> 
  <div class="row mb-5">
    <div class="col-12 text-center mb-4 section-header" data-aos="fade-up" data-aos-delay="200">
      <h3>Our Alumni</h3>
      <p class="lead">Connect with our distinguished alumni making a difference around the world</p>
    </div>

    <div class="search-container text-center mb-5" data-aos="fade-up" data-aos-delay="300">
      
      <div class="search-flex-container">
        <input type="text" id="searchInput" class="search-input" placeholder="Search by name">

          <select class="form-control select-filter batch-year" id="batch_year">
          <option default>Batch Year</option>
          {% for year in years %}
              <option>{{ year.graduation_year }}</option>
          {% endfor %}
          </select>

          <select class="form-control select-filter uni" id="university">
              <option default>University</option>
              {% for uni in university %}
                  <option>{{ uni.university }}</option>
              {% endfor %}
          </select>
      </div>
    </div>
    <div id="alumni-container" class="row g-4"></div>
  </div>
</div>

<!--Recommendation Modal-->
  <div class="modal fade" id="recommendationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-lg rounded-4">
        <div class="modal-header">
          <h5 class="modal-title">New Match Found!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Our AI think You are <span id="compatibility-score"><strong></strong></span> compatible with
            <span id="recommended-user-name"><strong></strong></span>.
          </p>
          <a href="#" id="view-recommended-user-profile" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
  </div>

<script>
  alumniSearchURL = "{% url 'search_directory' %}"
  alumniRecommendURL = "{% url 'alumni_directory_recommend' %}"
</script>
<script src="{% static 'directory/javascript/directory.js' %}"></script>
{% endblock %}