{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'directory/css/mentor_directory.css' %}" rel="stylesheet">
    <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}


{% block title %}
    Directory
{% endblock %}

{% block main %}

<div class="mentors"> 
  <div class="row mb-5">
    <div class="col-12 text-center mb-4 section-header" data-aos="fade-up" data-aos-delay="200">
      <h3>Success Stories</h3>
      <p class="lead">Meet some of our distinguished alumni making a difference around the world</p>
    </div>

    <div class="search-container text-center mb-5" data-aos="fade-up" data-aos-delay="300">
      
      <div class="search-flex-container">
        <input type="text" id="searchInput" class="search-input" placeholder="Search by skills">

          <select class="form-control select-filter batch-year" id="batch_year">
          <option default>Batch Year</option>
          {% for year in years %}
              <option>{{ year.graduation_year }}</option>
          {% endfor %}
          </select>

          <select class="form-control select-filter uni" id="university">
              <option default>University</option>
              {% for uni in university %}
                  <option>{{ uni.university }}</option>
              {% endfor %}
          </select>


      </div>
    </div>
    <div id="alumni-container" class="row g-4"></div>
  </div>
</div>

<script>
  mentorSearchURL = "{% url 'mentor_search_directory' %}"
</script>
<script src="{% static 'directory/javascript/mentor_directory.js' %}"></script>
{% endblock %}