{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'profiles/css/profile.css' %}" rel="stylesheet">
    <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}


{% block title %}
    Profile
{% endblock %}

{% block main %}


<div class="main-wrapper container-fluid">

<div class="row">



<div class="col-12 col-md-4 col-lg-3 sidebar-wrapper" data-aos="fade-up" data-aos-delay="100">
  <div class="sidebar">
    <h2>Connection Requests</h2>
    <div class="contact-list">
      


      {% for req in connection_requests %}
      <div class="contact-item">
        <img src="{{ req.profile_url|default:'/static/images/profile_image.jpg' }}" alt="profile image" class="profile_image" />
        <div class="connect-details" data-user-id="{{ req.profile1.user.id }}" data-url-accept="{% url 'accept_connection' req.profile1.user.id 'accept' %}" data-url-decline="{% url 'accept_connection' req.profile1.user.id 'decline' %}">
          <div class="contact-name">
            {% if req.profile1.first_name or req.rofile1.last_name %}
                {% if req.profile1.first_name %}{{ req.profile1.first_name }}{% if req.profile1.last_name %} {{ req.profile1.last_name }}{% endif %}{% endif %}
            {% else %}
                No name
            {% endif %}
          </div>
          <div class="connection_buttons mt-2">
            {% csrf_token %}
            <a href="{% url 'view_profile' req.profile1.user.id %}"><button class="btn view">View</button></a>
            <button class="btn connect">Accept</button>
            <button class="btn decline">Decline</button>
          </div>
          
        </div>
      </div>
        {% endfor %}


    </div>
  </div>
</div>










<div class="col-12 col-md-8 col-lg-9 profile-container" data-aos="fade-up" data-aos-delay="200">

  {% if request.GET.message %}
    <div class="alert alert-danger">{{ request.GET.message }}</div>
  {% endif %}
  
  <div class="profile-header d-flex align-items-center gap-3 mb-4">
    <img src="{% if profile.profile_url %}{{ profile.profile_url }}{% else %}{% static 'images/profile_image.jpg' %}{% endif %}" alt="Profile" class="avatar">
    <div class="profile-info">
        <h2 class="mb-1">{% if profile.first_name %}{{ profile.first_name }}{% if profile.last_name %} {{ profile.last_name }}{% endif %}{% endif %}</h2>
      {% if profile.user.is_superuser %}
        <p class="text-muted mb-0 admin">Admin</p>
      {% endif %}
        <p class="text-muted mb-0">{% if profile.location %}{{ profile.location }}{% endif %}</p>
        <p class="text-muted mb-0">
        {% if profile.has_job %}
            {{ profile.role }} at {{ profile.employer }}
        {% else %}
            {{ profile.major_uni }} at {{ profile.university }}
        {% endif %}
        </p>
    </div>
    <div class="d-flex gap-2 connection_buttons" style="margin-left: 70%;">
      <div class="connection-display"><div class="connection-number">{{ num_of_connections }}</div><div class="connection-title text-muted">Connections</div></div>
    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Personal Information</h3>
    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editPersonalInformation">Edit</button>
    </div>
    <div class="row g-3">

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">First name</div>
            <div class="fs-6">
                {% if profile.first_name %}
                    {{ profile.first_name }}
                {% else %}
                    <span class="text-muted small">Please Enter your First name</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Last Name</div>
            <div class="fs-6">
                {% if profile.last_name %}
                    {{ profile.last_name }}
                {% else %}
                    <span class="text-muted small">Please Enter your Last name</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Date of Birth</div>
            <div class="fs-6">
                {% if profile.date_of_birth %}
                    {{ profile.date_of_birth|date:'Y-m-d' }}
                {% else %}
                    <span class="text-muted small">Please Enter your Date Of Birth</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Email Address</div>
            <div class="fs-6">
                {% if profile.user.email %}
                    {{ profile.user.email }}
                {% else %}
                    <span class="text-muted small">Please Enter your email</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Bio Section</h3>
      <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editBioSection">Edit</button>    </div>
    <div class="row g-3">
      <div class="col-md-12">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">About Me</div>
            <div class="fs-6">
                {% if profile.about_me %}
                    {{ profile.about_me }}
                {% else %}
                    <span class="text-muted small">Please write a brief introduction about yourself</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Education</h3>
    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editEducationSection">Edit</button>
    </div>
    <div class="row g-3">

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Graduation Year</div>
            <div class="fs-6">
                {% if profile.graduation_year %}
                    {{ profile.graduation_year }}
                {% else %}
                    <span class="text-muted small">Please Enter your school graduation year</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Education Level</div>
            <div class="fs-6">
                {% if profile.education_level %}
                    {{ profile.education_level }}
                {% else %}
                    <span class="text-muted small">Please enter your education level. e.g: Sixth Form, Bachelor's ...</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">University</div>
            <div class="fs-6">
                {% if profile.university %}
                    {{ profile.university }}
                {% else %}
                    <span class="text-muted small">Please enter your university</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">University Location</div>
            <div class="fs-6">
                {% if profile.university_location %}
                    {{ profile.university_location }}
                {% else %}
                    <span class="text-muted small">Please enter your university location</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">University Major</div>
            <div class="fs-6">
                {% if profile.major_uni %}
                    {{ profile.major_uni }}
                {% else %}
                    <span class="text-muted small">Please enter your university major</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Skills</h3>
    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editSkillsSection">Edit</button>
    </div>
    <div class="row g-3">
      {% for skill in profile.skills.all %}
      <div class="col-md-4">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="fs-6">
              {{ skill.skill }}
              {% if skill.skill == "" %}
                <span class="text-muted small">Please Enter a skill</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Goals</h3>
    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editGoalsSection">Edit</button>
    </div>
    <div class="row g-3">
      <div class="alert alert-info small">
        These goals will not appear on your public profile. They help us match you with similar alumni.
      </div>
      {% for goal in profile.goals.all %}
      <div class="col-md-12">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="fs-6">
              {{ goal.goal }}
              {% if goal.goal == "" %}
                <span class="text-muted small">Please enter a goal</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header d-flex justify-content-between align-items-center mb-3">
      <h3>Career</h3>
    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editCareerSection">Edit</button>
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold">Are you currently employed?</label>
      <div>
        <form>
        {% csrf_token %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="employment_status" id="employed" value="employed"
            {% if profile.has_job == True %}checked{% endif %}>
          <label class="form-check-label" for="employed">Yes</label>
        </div>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="employment_status" id="not_employed" value="not_employed"
            {% if profile.has_job == False %}checked{% endif %}>
          <label class="form-check-label" for="not_employed">No</label>
        </div>
        </form>
      </div>
    </div>

    <div id="job_section">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Role</div>
            <div class="fs-6">
              {% if profile.role %}
              {{ profile.role }}
              {% else %}
              <span class="text-muted small">Please enter your role</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-information">
          <div class="bg-light p-3 rounded">
            <div class="text-muted small fw-semibold">Employer</div>
            <div class="fs-6">
              {% if profile.employer %}
              {{ profile.employer }}
              {% else %}
              <span class="text-muted small">Please enter your employer's name</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
</div>
</div>









<!--Modals for entering Profile info-->

<div class="modal fade" id="editPersonalInformation" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4 rounded-4 border-0 shadow-sm" style="background-color: #fdfdfd;">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="editPersonalModalLabel">Edit Your Personal Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="POST" action="{% url 'edit_personal_section' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label fw-semibold">First Name</label>
              <input type="text" name="first_name" value="{{ profile.first_name }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-semibold">Last Name</label>
              <input type="text" name="last_name" value="{{ profile.last_name }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-semibold">Email</label>
              <input type="email" name="email" value="{{ profile.user.email }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-semibold">Date of birth</label>
              <input type="date" name="date_of_birth" value="{{ profile.date_of_birth|date:'Y-m-d' }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-12">
              <label class="form-label fw-semibold">Location</label>
              <select name="location" class="form-control rounded-3" required>
                  {% for country in countries %}
                      <option value="{{ country }}" {% if profile.location == country %}selected{% endif %}>
                          {{ country }}
                      </option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0 pt-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editBioSection" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4 rounded-4 border-0 shadow-sm" style="background-color: #fdfdfd;">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="editBioModalLabel">Edit Your Bio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="POST" action="{% url 'edit_bio_section' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}


          <div class="row g-3">
            <div class="col-md-12">
              <label class="form-label fw-semibold">About Me</label>
              <textarea rows="10" type="text" name="about_me" class="form-control rounded-3" required>{{ profile.about_me }}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0 pt-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editEducationSection" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4 rounded-4 border-0 shadow-sm" style="background-color: #fdfdfd;">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="editEducationModalLabel">Edit Your Education Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="POST" action="{% url 'edit_education_section' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label fw-semibold">Graduation Year</label>
              <input type="text" name="graduation_year" value="{{ profile.graduation_year }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-semibold">Education Level</label>
                <select class="form-control" id="exampleFormControlSelect1" name="education_level" required>
                <option {% if profile.education_level == "Sixth Form" %}selected{% endif %}>Sixth Form</option>
                <option {% if profile.education_level == "Bachelor's" %}selected{% endif %}>Bachelor's</option>
                <option {% if profile.education_level == "Master's" %}selected{% endif %}>Master's</option>
                <option {% if profile.education_level == "Doctorate" %}selected{% endif %}>Doctorate</option>
                </select>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-semibold" required>University</label>
              <input type="text" name="university" value="{{ profile.university }}" class="form-control rounded-3">
            </div>
            <div class="col-md-4">
              <label class="form-label fw-semibold" required>University Location</label>
              <select name="university_location" class="form-control rounded-3">
                  {% for country in countries %}
                      <option value="{{ country }}" {% if profile.university_location == country %}selected{% endif %}>
                          {{ country }}
                      </option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-semibold" required>Major</label>
              <input type="text" name="major_uni" value="{{ profile.major_uni }}" class="form-control rounded-3">
            </div>
          </div>
        </div>
        <div class="modal-footer border-0 pt-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editSkillsSection" tabindex="-1" aria-labelledby="editGoalsSkillsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3 rounded-4 border-0 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editSkillsLabel">Edit Your Skills</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'edit_skills_section' %}">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <div class="row g-3">
          <div class="col-4">
            <label class="form-label fw-semibold">Skill 1</label>
            <input type="text" class="form-control" name="skills" value="{% if profile.skills.all.0 %}{{ profile.skills.all.0.skill }}{% endif %}" required>
          </div>
          <div class="col-4">
            <label class="form-label fw-semibold">Skill 2</label>
            <input type="text" class="form-control" name="skills" value="{% if profile.skills.all.1 %}{{ profile.skills.all.1.skill }}{% endif %}" required>
          </div>
          <div class="col-4">
            <label class="form-label fw-semibold">Skill 3</label>
            <input type="text" class="form-control" name="skills" value="{% if profile.skills.all.2 %}{{ profile.skills.all.2.skill }}{% endif %}" required>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editCareerSection" tabindex="-1" aria-labelledby="editGoalsSkillsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3 rounded-4 border-0 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editCareerLabel">Edit Your Career Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'edit_career_section' %}">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label fw-semibold">Role</label>
              <input type="text" name="role" value="{{ profile.role }}" class="form-control rounded-3" required>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-semibold">Employer</label>
              <input type="text" name="employer" value="{{ profile.employer }}" class="form-control rounded-3" required>
            </div>
          </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editGoalsSection" tabindex="-1" aria-labelledby="editGoalsSkillsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3 rounded-4 border-0 shadow">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editGoalsLabel">Edit Your Goals</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'edit_goals_section' %}">
        {% csrf_token %}
        <div class="modal-body">

          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

          <div class="alert alert-info small">
            These goals and skills will not appear on your public profile. They help our AI match you with the most compatible alumni.
          </div>

          <div class="mb-3">
            <label class="form-label fw-semibold">Goal 1</label>
            <input type="text" class="form-control" name="goals" value="{% if profile.goals.all.0 %}{{ profile.goals.all.0.goal }}{% endif %}" required>
          </div>
          <div class="mb-3">
            <label class="form-label fw-semibold">Goal 2</label>
            <input type="text" class="form-control" name="goals" value="{% if profile.goals.all.1 %}{{ profile.goals.all.1.goal }}{% endif %}" required>
          </div>
          <div class="mb-3">
            <label class="form-label fw-semibold">Goal 3</label>
            <input type="text" class="form-control" name="goals" value="{% if profile.goals.all.2 %}{{ profile.goals.all.2.goal }}{% endif %}" required>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn save-changes">Save Changes</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

  <script>
    AOS.init({
      duration: 700,
      once: true,
    });

    var csrfToken = `{{ csrf_token }}`
    var edit_employment_status = `{% url 'edit_employment_status' %}`
    var mentor_match = `{% url 'mentor_match' %}`
  </script>

 <script src="{% static 'profiles/javascript/profile.js' %}"></script>

  {% endblock %}
