{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
     <link href="{% static 'authentication/css/sign_up.css' %}" rel="stylesheet">
{% endblock %}
static 'app1/css/style.css'

{% block title %}Login{% endblock %}

{% block main %}

    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="main-content">
    <div class="container container-form">
        <div id="logoContainer">
        <img src="{% static 'images/school_logo.avif' %}" alt="Logo" id="logo">
        </div>
        <div class="elite-badge">- School Alumni -</div>
        <div class="form-box">
        <h1 id="title">Login</h1>
        <form id="authForm" method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="input-group">
            <div class="input-field">
                <input type="email" placeholder="Email" id="emailInput" required name="email"/>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" id="passwordInput" required name="password"/>
            </div>
            <div class="btn-field">
                <button type="submit" id="submitBtn" class="form_button">Login</button>
            </div>
            </div>
        </form>
        </div>
    </div>


    <div class="footerContainer">
        <footer class="footer">
        © 2025 Alumni Network <br>
        Email us at <a class="email" href="mailto:#" style="color: rgba(255, 255, 255, 0.6);">school@email.com</a>
        </footer>
    </div>
    </div>  

{% endblock %}