{% extends "layout.html" %}
{% load static %}


{% block extra_css %}
    <link href="{% static 'authentication/css/sign_up.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"  style="text-align:center" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

    <div class="main-content">
    <div class="container container-form">
        <div id="logoContainer">
        <img src="/static/images/school_logo.png" alt="Logo" id="logo">
        </div>
        <div class="elite-badge">- School Alumni -</div>
        <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form id="authForm" method="post" action="{% url 'sign_up' %}">
            {% csrf_token %}
            <div class="input-group">   
            <div class="row">
            <div class="col input-field">
                <input type="text" class="form-control" placeholder="First name" id="first-name" name="first-name" required>
            </div>
            <div class="col input-field">
                <input type="text" class="form-control" placeholder="Last name" id="last-name" name="last-name" required>
            </div>
            </div>
            <div class="input-field">
            <input type="number" class="form-control" id="graduation-year" name="graduation-year" placeholder="School Graduation Year" min="2021" max="2030" required/>
            </div>
            <div class="input-field">
                <input type="email" placeholder="Email" id="emailInput" required name="email" required/>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" id="passwordInput" required name="password" required/>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Confirm Password" id="confirmPassword" required name="confirmation" required/>
            </div>
            <div class="btn-field">
                <button type="submit" id="submitBtn" class="form_button">Sign Up</button>
            </div>
            </div>
        </form>
        </div>
    </div>

    <div class="footerContainer">
        <footer class="footer">
        © 2025 Alumni Network <br>
        Email us at <a class="email" href="mailto:#" style="color: rgba(255, 255, 255, 0.6);">alumni@email.com</a>
        </footer>
    </div>
    </div>


{% endblock %}