{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'mentorship/css/mentor_signup.css' %}" rel="stylesheet">
    <link rel="icon" href="/path/to/your/favicon.ico" type="image/x-icon">
{% endblock %}


{% block title %}
    Directory
{% endblock %}

{% block main %}


<div class="mentor-form-container">


{% if is_mentor %}
    <h2>You are already a Mentor :)</h2>
{% elif message %}
    <h2>{{ message }}</h2>
{% else %}
<h2>Become a Mentor</h2>
<form method="POST" action="{% url 'mentor_signup' %}">
    {% csrf_token %}
    <div class="alert form-info">
        Fill the form and start guiding your Mentees. You'll be automatically added to the <a href="{% url 'mentor_directory' %}" class="mentor_directory_link">Mentor Directory</a>.
    </div>

    <label>Full Name</label>
    <input type="text" id="full_name" name="full_name" required value="{% if profile.first_name %}{{ profile.first_name }}{% if profile.last_name %} {{ profile.last_name }}{% endif %}{% endif %}">

    <label>Email</label>
    <input type="email" id="email" name="email" required value="{{ user.email }}" disabled>

    <label>Industry / Field</label>
    <input type="text" id="industry" name="industry" required value="{{ profile.major_uni }}">

    <label>Pick your top 3 skills</label>
    <input name="skill1" list="skills" id="browsersInput" class="form-control" placeholder="Choose a skill" autocomplete="off" value="{{ user_skills.0.skill }}">
    <datalist id="skills">
        {% for skill in skills %}
        <option value="{{ skill.skill }}">
        {% endfor %}
    </datalist><br>

    <input name="skill2" list="skills" id="browsersInput" class="form-control" placeholder="Choose a skill" autocomplete="off" value="{{ user_skills.1.skill }}">
    <datalist id="skills">
        {% for skill in skills %}
        <option value="{{ skill.skill }}">
        {% endfor %}
    </datalist><br>

    <input name="skill3" list="skills" id="browsersInput" class="form-control" placeholder="Choose a skill" autocomplete="off" value="{{ user_skills.2.skill }}">
    <datalist id="skills">
        {% for skill in skills %}
        <option value="{{ skill.skill }}">
        {% endfor %}
    </datalist>
    
    <button type="submit">Submit</button>
</form>
{% endif %}

<script src="{% static 'directory/javascript/mentor_directory.js' %}"></script>
{% endblock %}