{% load static %}

<div class="chat-container"  data-aos="fade-up" data-aos-delay="200">
  <div class="chat-header">
    {% if has_mentor == True %}
      Mentor: 
    {% endif %}
    {% if other_user.user.profile.first_name %}
      {{ other_user.user.profile.first_name }}
    {% endif %}
    {% if other_user.user.profile.last_name %}
      {{ other_user.user.profile.last_name }}
    {% endif %}
  </div>
  
  <div class="chat-messages" id="chat-box"  data-aos="fade-up" data-aos-delay="300">

    {% for message in messages reversed %}
      {% include 'messaging/partials/chat_message.html' with message=message sender=user %}
    {% endfor %}
  </div>

  <form class="chat-input" action="{% url 'chat_room' group_name %}" method="post">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Type a message..." required autocomplete="off" id="message_input"/>
    <button type="submit" id="message_send">Send</button>
  </form>
</div>

  <script>
    var groupName = "{{ group_name }}"
    var csrfToken = "{{ csrf_token }}"
    var currentUserId = "{{ user.id }}"
  </script>
  <script src="{% static 'messaging/javascript/messaging.js' %}"></script>
